html, body {
    margin: 0;
    padding: 0;
}
.flex-items {
    width: 500px;
    flex-grow: 1;
    height: 100px;
}
.genres {
    width: 100%;
    display: flex;
    text-align: center;
    flex-flow: row wrap;    
}
.action {
    background-color: dodgerblue;

}
.thriller {
    background-color: rgb(190, 178, 178);
    flex-grow: 10;
}
.comedy {
    background-color: rgb(255, 214, 30);
    flex-grow: 10;
}
.horror {
    background-color: black;
    
}
.drama {
    background-color: darkgrey;
}
.romance {
    background-color: red;
}