.genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.genres div {
    width: 500px;
    height: 100px;
    text-align: center;
    line-height: 100px;

}


.action {
    background-color: dodgerblue;
    flex-grow: 1;

}

.thriller {
    background-color: rgb(190, 178, 178);
    flex-grow: 10;

}

.comedy {
    background-color: rgb(255, 214, 30);
    flex-grow: 10;

}

.horror {
    background-color: black;
    color: white;
    flex-grow: 1;

}

.drama {
    background-color: darkgrey;
    flex-grow: 1;

}

.romance {
    background-color: red;
    flex-grow: 1;

}